* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-action-light: #02bf9b20;
  --primary-action: #02bf9b;
  --primary-content: #000000;
  --primary-background: #ffffff;
  --secondary-content: #abaeb1;
  --secondary-background: #dfdfdf;
  --primary-tip: hsl(200, 80%, 90%);
  --shadow-sm: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  --nav-icon-size: 2rem;
}

body {
  background-color: var(--secondary-background) !important;
  min-height: 100dvh;
}
@media (min-width: 1200px) {
  p,
  li,
  span {
    font-size: 1.5rem !important;
  }
}

.content-wrapper {
  width: 100%;
  max-width: 80rem;
}

.carousel-status {
  bottom: 0;
  top: unset !important;
  background-color: var(--secondary-content);
  translate: -1rem 0;
  border-radius: 0.25rem;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 1.5rem !important;
  width: 1.5rem !important;
  top: 1.5rem !important;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0;
  width: 100% !important;
  padding-top: 1rem;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}

.bm-burger-button {
  position: relative;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--primary-action) !important;
}

.react-calendar__tile {
  border-radius: 0.25rem;
}
