.icon {
  width: 2rem;
  height: 2rem;
  stroke: var(--primary-action);
  fill: transparent;
}
.favorite {
  fill: red;
}
.heart-btn {
  position: absolute;
  top: 0;
  right: 0;
  translate: -1rem 1rem;
  background: transparent;
  border: none;
  z-index: 10;
}

.image {
  width: 100%;
  height: 25rem;
}

.section {
  background-color: var(--primary-background);
  padding: 1rem;
}

.label-description {
  color: var(--secondary-content);
  text-transform: uppercase;
  font-size: 0.875rem;
}

.description {
  color: var(--secondary-content);
}
.tip {
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 0.375rem;
  background-color: var(--primary-tip);
  text-align: center;
}

.days {
  font-size: 1rem;
}

.from {
  color: var(--secondary-content);
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

.date-selected {
  border: 0.0625rem solid var(--primary-action) !important;
}

@media (min-width: 576px) {
  .image {
    height: 40rem;
  }

  .section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .image {
    height: 50rem;
  }
}
