.button {
  background-color: var(--primary-background);
  padding: 0.5rem;
  width: 100%;
  color: var(--primary-action);
  border-radius: 0.25rem;
  border: 1px solid var(--primary-action);
}

.button:hover {
  background-color: var(--primary-tip);
  color: var(--primary-action);
}

@media (min-width: 1200px) {
  .button {
    font-size: 1.5rem;
  }
}
